<html>

  <h1> <%= @cat.name %> </h1>

    <table>
      <tr>
        <th> Age </th>
        <th> Sex </th>
        <th> Color </th>
        <th> Description </th>
      </tr>
      <tr>
        <td> <%= @cat.age %> </td>
        <td> <%= @cat.sex %> </td>
        <td> <%= @cat.color %> </td>
        <td> <%= @cat.description %> </td>
      </tr>
    </table>


</html>
